# conda create --yes -n 2.7 python=2.7 numpy=1.7 scipy=0.12 pytables=3.0 \
#     cython=0.20 pandas=0.12 pyyaml pip nose
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
numpy
scipy
pyyaml>=4.2b1
pip
nose
mdtraj
openmm
ambermini
netcdf4
msmbuilder
openmmtools
ipython
ipython-notebook
matplotlib

